body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
}

header {
    text-align: center;
}

h1 {
    font-size: 2em;
}

section {
    margin-bottom: 20px;
}

h2 {
    font-size: 1.5em;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 5px;
}

a {
    text-decoration: none;
    color: #007BFF;
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    color: #777;
}
